body {
  background-color: #ffffff;
  background: linear-gradient(to bottom, #9dd8ff 0%, #b5e6ff 50%, #ffffff 100%);  
  font-weight: bold;
  font-family: "Lato","Helvetica", sans-serif;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
  text-decoration: underline;
}
.row {
  border: 5px;
  padding: 10px;
}
.navbar {
  background-color: #69c3f0;
  margin-bottom: 20px;
}
.navbar .nav-link {
  color: rgb(0, 0, 0);
}
.navbar .nav-link:hover {
  color: #ccc;
}

.navbar {
  margin-bottom: 20px;
}

.input-box {
  border: 1px solid #111111;
  padding: 10px 20px;
  border-radius: 4px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #0056b3;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 15%; 
}

.main-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
  width: 50%; 
}

.recipe {
  display: flex;
  align-items: center;
  height: 100%; 
}

.recipe-thumbnail {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: 10px; 
  width: 15%; 
}

.recipe-text {
  font-size: 24px;
  font-weight: bold;
  font-family: "Lato", "Helvetica", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.logo-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: 10px;
  width: 6%; 
}

.logo-text {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
